<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://use.typekit.net/xnh4htv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Omer Wazir">

    <title>Omer Wazir</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/main.css") %>">
  </head>

  <body>
    <div class="top-bar">
      <div class="cool-dude">Omer Wazir</div>
      <div class="links">
        <a href="/">Home</a>
        <a href="https://twitter.com/thewazir">twitter</a>
        <a href="https://github.com/thewazir">github</a>
      </div>
    </div>
    <div class="container">
      <main class="main-content" role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
  </body>
</html>
