@import (less) "normalize.css";

@font-family-sans-serif: "calluna sans",
                          "Avenir Next", 
                          "Helvetica Neue", 
                          "Segoe UI",
                           sans-serif;
@font-family-serif:"calluna","georgia",serif;
@monospace-font-family: "Triplicate T4c",monospace;
@fancy-font-family: "estilo-regular",@font-family-serif;

@text-color:#444;
@external-link:#111;

@colorado-blue:#002868;
@colorado-red:#BF0A30;
@colorado-yellow:#FFD700;
@white:#FEFEFE;

//breakpoint at which default layout fails
@screen-small: 625px;

*{
    font-variant-ligatures:common-ligatures;
}

html {
  font:24px/1.5 @font-family-serif;
  text-rendering:optimizelegibility;
  font-feature-settings:"liga";
}

//was body
.container  {
    max-width: 1000px;
    min-width:400px;
    min-height: 100%;
    margin:0 auto;
    hyphens: auto;
    background: @white;
}

body, .archived-post{
    color:@text-color;
}

p {
  font-size:1rem;
}

h1, .title, .date, a {
  font-family: @font-family-sans-serif;
}

h1 {
  font-size:1.5rem;
}

h2 {
  font-size:1.15rem;
}

h3 {
  font-size:1.05rem;
}

pre, code{
  font-family:@monospace-font-family;
  font-size:0.9rem;
}

h1,h2,h3,h4,h5,h6,a {
    font-weight:600;
}

a, .date{
  font-variant-caps: small-caps;
  font-feature-settings: "smcp";
}

a{
  text-decoration: none;
  text-transform: lowercase;
  transition:background 0.2s ease-in;
}

.main-header {
  margin:0px;
  margin-bottom: 5rem;
  //.colorado-bottom-border-thin;
  .content{
    h1{
      text-align: center;
      font-size:4rem;
      font-family:@font-family-sans-serif;
      color:@colorado-blue;
      font-weight:900;
    }
    a{
      color:inherit;
      padding:0.5rem 1rem 0.6rem 1rem;
    }
  }
}

.main-content, .main-header {
  max-width: 100%;
}

.line-through{
  text-decoration: line-through;
}

.title {
  letter-spacing: 0.2px;
}

.lead{
  font-size:1.2rem;
  font-weight: 400;
}

.posts-lists {
  padding:0px;
  max-width: 680px;
   margin:0 auto;
}

.list-unstyled {
    list-style: none;
}

.nav-links{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.post-content { 
  .article {
    a {
      color:@external-link;
      &:hover{
        color:lighten(@external-link, 20%);
        background: lighten(@external-link, 80%);
      }
    }
  }
}

.colorado-bottom-border-thin{
    box-shadow: 0px 10px 0px @colorado-blue,
    0px 20px 0px @colorado-red,
    0px 30px 0px @colorado-yellow;
}

.colorado-bottom-border-thick{
    box-shadow: 0px 10px 0px @colorado-blue,
    0px 20px 0px @colorado-red,
    0px 30px 0px @colorado-yellow;
}

.colorado-full-border{
      box-shadow: 0 0 0 6px @colorado-blue,
    0 0 0 12px @colorado-red,
    0 0 0 18px @colorado-yellow;
}

.highlight-red{
  //color:@colorado-red;
}

.post-navbar{
  background: darken(@colorado-blue,10%);
  color:@white;
  display:flex;
  padding:1.5rem 1rem;
  margin-bottom: 4rem;
  border:1px solid @colorado-blue;
  .colorado-bottom-border-thin;

  .title{
  text-transform: none;
  font-variant-caps: normal;
  font-feature-settings: "liga";
  color:inherit;
  }

  .navigation{
    flex-grow:2;
    .nav-links{
      margin:0;
      justify-content: flex-end;

      li{
        padding:0rem 1rem;
        a{
          color:inherit;
        }
      }
    }
  }
}

.archived-post {
    display:block;
    margin-bottom: 3rem;
    padding:0.5rem 1.5rem;
    text-transform: none;
    font-variant-caps:normal;
    font-feature-settings: unset;
    transition:box-shadow 0.4s ease-in-out;
    &:hover{
        .colorado-full-border;
    }

    .lead {
        font-size: 0.9rem;
        margin-top:0.35rem;
    }

    .title {
        font-size:1.1rem;
        margin-bottom: 0rem;
    }
}

@media (max-width: @screen-small) {
  .archived-post{
    padding:0.25rem 0rem;
     &:hover{
      background: lighten(@colorado-blue, 75%);
      box-shadow:none;
     }
  }
  .nav-links{
    justify-content:space-between;
    li{
      margin:0px;
      margin-top:1rem;
      a{
        padding:0.25rem 0.5rem 0.3rem;
      }
    }
  }

  .main-content{
    padding:0rem 1.25rem;
  }
  .main-header {
    border:1px solid transparent;
    padding:0rem 0.75rem;
    background: darken(@colorado-blue,10%);
    color:@white;
    margin:0;
    margin-bottom: 1.5rem;
    .colorado-bottom-border-thin;
    .content{
      h1{
        color:inherit;
        font-size:2rem;
      }
    }
  }
}