@import "./normalize.css";

@font-family-sans-serif: "jaf-facitweb","Helvetica Neue", Helvetica, "Segoe UI", sans-serif;

*{
    font-variant-ligatures:common-ligatures;
}

body {
    font:normal 400 18px/1.5 @font-family-sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:600;
}

.title{
  letter-spacing: 0.2px;
}

.lead{
  font-style:italic;
  font-size:1.75rem;
}