@import (less) "normalize.css";

@font-family-sans-serif: "calluna-sans","jaf-facitweb","Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
@font-family-serif:"calluna","georgia",serif;

*{
    font-variant-ligatures:common-ligatures;
}

html{
  font:24px/1.5 @font-family-serif;
  text-rendering:optimizelegibility;
  font-feature-settings:"liga";
}

body {
    max-width: 1000px;
    min-width:520px;
    min-height: 100%;
    margin:0 auto;
}

p{
  font-size:1rem;
}

h1{
  font-size:2rem;
  font-family: @font-family-sans-serif;
}

h2{
  font-size:1.75rem;
}

h3{
  font-size:1.2rem;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:600;
}

.title{
  letter-spacing: 0.2px;
}

.lead{
  font-size:1.2rem;
}

.list-unstyled {
    list-style: none;
}

.archived-post {
    text-decoration: none;
}