.post-navbar
      a.title(href="/") Omer Wazir
      nav.navigation
          ul.nav-links.list-unstyled 
            li
                a(href="https://github.com/thewazir" target="_blank") github
            li
                a(href="/about") about me
            li 
                a(href="https://twitter.com/thewazir" target="_blank") twitter
