.main-header
 .content
      h1 Omer Wazir
      nav.navigation
          ul.nav-links.list-unstyled 
            li
                a(href="https://github.com/thewazir" target="_blank") github
            li
                a(href="/about.html") about me
            li 
                a(href="https://twitter.com/thewazir" target="_blank") twitter