.post-navbar
      a.title(href="/") Omer Wazir
      nav.navigation
          ul.nav-links.list-unstyled 
            li
                a(href="/") github
            li
                a(href="/") about me
            li 
                a(href="/") twitter
