/*
 * Variables
 */

red= #B9121B
maroon= #4C1B1B
paleYellow= #F6E497
creamy= #FCFAE1
tan= #BD8D46
lightGrey=#EFF2F5
white= #FFF
sans-serif-family= "freight-sans-pro","Avenir Next","Helvetica Neue", Helvetica, Arial, sans-serif
serif-family= "ff-tisa-web-pro",Georgia, "Times New Roman", Times, serif

body 
  font-family sans-serif-family
  color #444
  background-color white

.jumbotron
  background-color white

pre
  background-color creamy
  border 1px solid paleYellow

.line-through
  text-decoration line-through


.archived-heading, .blog-post-lead, .blog-post-meta
  font-weight 500

.navigation-bar
  background-color red
  border-color red
  padding 20px 35px


.navigation-bar
  font-size 1.2em
  font-weight 500
  &:hover
    text-decoration none

.site-pages
  float right !important;

.site-pages > li:nth-child(2)
  margin-left 2em
  
.site-title, .site-title:hover, .site-pages > li >a
  color creamy
  text-decoration none

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px)
  
  .navigation-header
    text-align center
    margin-bottom 12px

  .navigation-menu
    text-align center    

  .navigation-bar
    background-color red
    border-color red
    padding 20px 20px

  .site-title
    margin-bottom 25px

  .site-pages
    float none !important  

  .site-pages > li:nth-child(2)
    float right !important

h1, .h1,h2, .h2,h3, .h3,h4, .h4,h5, .h5,h6, .h6 
  margin-top 0
  font-weight 500
  color #333

.sans-serif, h1, .h1,h2, .h2,h3, .h3,h4, .h4,h5, .h5,h6, .h6 
  font-family sans-serif-family


article
  border-bottom 1px solid #f0f0f0
  padding-bottom 60px
  margin-bottom 20px

.archiveList li
  border-bottom 1px solid #f0f0f0

.blog-post, .archivedPost
  transition all 0.3s ease-out

.archivedPost
  color #555
  text-decoration none
  display block
  padding 2em 1em
  &:hover 
    color #222
    text-decoration none
    background-color rgba(250, 250, 250, 0.15)
    border-radius 2px

.white-text
  color #fff

.condensedHeading
  letter-spacing -1px

.spacedHeading, .blog-post h3
  letter-spacing 2px

.archiveList li
   &:last-child
    border-bottom none
    


/*
 * Override Bootstrap's default container.
 */

// @media (min-width 1200px) 
//   .container 
//     width 970px

/* Active state gets a caret at the bottom */
.blog-nav .active 
  color #fff

.blog-nav .activeafter 
  position absolute
  bottom 0
  left 50%
  width 0
  height 0
  margin-left -5px
  vertical-align middle
  content " "
  border-right  5px solid transparent
  border-bottom 5px solid
  border-left   5px solid transparent



/*
 * Blog name and description
 */

.blog-main 
  padding-top 20px
  padding-bottom 20px
  font-size 18px
  line-height 1.5

.blog-description 
  font-size 20px
  color #999

/*
 * Blog posts
 */

.blog-post 
  margin-bottom 60px

.archived-heading, .blog-post-title, .page-title
    font-weight 700
    font-style italic

.blog-post-title, .page-title
  margin-bottom 16px


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
  .blog-post-title, .page-title
    font-size 74px
  .blog-post-meta
    font-size 24px

.pop
  color red 
