/*
 * Variables
 */

red= #B9121B
maroon= #4C1B1B
paleYellow= #F6E497
creamy= #FCFAE1
tan= #BD8D46
lightGrey=#EFF2F5
white= #FFF
textGrey= #444
sans-serif-family= "jaf-bernina-sans","Avenir Next","Helvetica Neue", Helvetica, Arial, sans-serif
header-family= "jaf-bernina-sans-condensed", sans-serif-family
subtleBorder= 1px solid #f0f0f0

.pop, .site-title,.site-pages,h1, .h1,h2, .h2,h3, .h3,h4, .h4,h5, .h5,h6, .h6 
  font-family header-family
  font-weight 600

body 
  font-family sans-serif-family  

body,pre,code, h1, .h1,h2, .h2,h3, .h3,h4, .h4h5, .h5,h6, .h6  
  color textGrey

body,.jumbotron
  background-color white

pre,code
  background-color creamy

pre
  border 1px solid paleYellow

blockquote
  font-size 1.2em
  font-style italic

.lead
  font-weight 400

.pop
  color red   

.line-through
  text-decoration line-through

.navigation-bar
  background-color red
  padding 20px 35px
  font-size 1.2em
  &:hover
    text-decoration none

.site-pages
  float right !important;

.site-pages > li:nth-child(2)
  margin-left 2em
  
.site-title, .site-title:hover, .site-pages > li >a
  color creamy
  text-decoration none

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px)
  
  .navigation-header
    text-align center
    margin-bottom 12px

  .navigation-menu
    text-align center    

  .navigation-bar
    padding 20px 20px

  .site-title
    margin-bottom 25px

  .site-pages
    float none !important  

  .site-pages > li:nth-child(2)
    float right !important

  .lead
    font-size 1.2em

.blog-post, blog-page
  border-bottom subtleBorder
  padding 20px 0px

.archiveList li
  border-bottom subtleBorder

.archiveList li
   &:last-child
    border-bottom none

.blog-post, .archivedPost, .blog-page
  transition all 0.3s ease-out

.archivedPost
  color textGrey
  text-decoration none
  display block
  padding 2em 1em
  font-size 1.4em
  &:hover 
    color textGrey
    text-decoration none
    background-color lightGrey
    border-radius 2px

.spacedapart
  letter-spacing 2px

.post-content, .page-content
  font-size 1.2em

.blog-post-title, .page-title, .blog-post, blog-page
  margin-bottom 16px

.blog-post-title, .page-title
  font-size 2.8em
.blog-post-date
  font-size 1.4em

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
  .blog-post-title, .page-title
    font-size 2.8em
  .blog-post-date
    font-size 1.4em
