@import (less) "normalize.css";

@font-family-sans-serif: "skolar-sans-latin","seravek","Gill Sans","Gill Sans MT",Calibri,sans-serif;

@font-family-serif:"skolar-latin","Bell MT","Hoefler Text",Garamond,Georgia,"Times New Roman",serif;

@monospace-font-family: "Andale Mono",AndaleMono,"monaco","Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",monospace;

@text-color:#444;
@external-link:#111;

@colorado-blue:#002868;
@colorado-red:#BF0A30;
@colorado-yellow:#FFD700;
@white:#fcfcfc;

//breakpoint at which default layout fails
@screen-small: 625px;

//breakpoint at which post layout fails
@screen-medium: 820px;

* {
    font-variant-ligatures:common-ligatures;
}

html.wf-loading{
  body,
  h1,h2,h3,h4,h5,h6,
  a,.title{
    color:#555;
  }
}

html.wf-active {
  font:20px/1.5 @font-family-serif;
  text-rendering:optimizelegibility;
  font-feature-settings:"liga";

  body{
    color:@text-color;
  } 
  
  h1,h2,h3,h4,h5,h6,
  a,.title{
    color:@colorado-blue;
  }
}

body {
  background:@white;
  max-width: 740px;
}

h1,h2,h3,h4,h5,h6{
  color:@colorado-blue;
  font-weight:400;
}

.top-bar{
  margin:0.5rem 2rem;
  padding:1rem 1rem 0.75rem;
  display:flex;
  flex-flow:row wrap;
  box-shadow: 0px 5px 0px @colorado-blue,
   0px 10px 0 @colorado-red,
   0px 15px 0 @colorado-yellow;
  font-family: @font-family-sans-serif;
  .cool-dude{
    flex-grow:2;
    font-size:1.125rem;
    text-transform: uppercase;
    letter-spacing:0.125rem;
  }
  
  .links{
    a{
      margin-right:0.75rem;
    }

    a:nth-last-of-type(1){
      margin:0rem;
    }
  }
}

.container{
  margin:1rem 2rem;
  padding:1rem;
}

p {
  font-size:1rem;
}

pre, code{
  font-family:@monospace-font-family;
  font-size:0.8rem;
  background:darken(@white, 5%);
  padding:0.1rem 0.3rem;
  border-radius:1px;
}

article{
  margin-bottom:4rem;
}

.smallcaps{
  font-variant-caps: small-caps;
  font-feature-settings: "smcp";
  letter-spacing: 0.025rem;
}

a,.date{
 .smallcaps();
}

.date,
.intro,
a{
 font-family: @font-family-sans-serif;
}

a{
  text-decoration: none;
  text-transform: lowercase;
  transition:background 0.2s ease-in-out;
  border-radius:4px;
  &:hover{
    background:fadeout(@colorado-blue,90%);
  }
}

.title{
  font-weight:400;
}

.intro{
  font-style:italic;
}