--- yaml
layout: 'default'
title: 'Home'
---
ul.list-unstyled.archiveList
  each doc in getCollection('posts').toJSON() 
    li
      a.archivedPost(href=doc.url)
        h2.archived-heading= doc.title
        p.pop= doc.humanDate
        p= doc.lead