html(lang="en")
    include ./_layouts/includes/head.jade
    body.container
      include ./_layouts/includes/main-header.jade
      .main-content
        ul.list-unstyled.posts-lists
          each post in posts
              li
                a.archived-post(href= post.path)
                  p.title= post.title
                  p.lead=  post.lead
          