doctype html
html
  include ../includes/head.jade
  body
    include ../includes/post-navbar.jade
    .container
        .post-content
          h1.title #{title}
          p.date #{date}
          p.lead #{lead}
          .article
             !{content}