---
layout: default
---

article.blog-post
  h1.jumbotron.text-left.blog-post-title.condensedHeading= document.title
  p.blog-post-meta.pop.spacedHeading.sans-serif= document.humanDate
  p.lead.blog-post-lead.sans-serif= document.lead
  .post-content!= content
